name: Manual Production NSK Deployment Workflow - APP09831

on:  # only run this workflow for main branches.
  workflow_dispatch:
    inputs:
      change-request-short-description:
        description: 'Change Request Short Description'
        required: true
        type: string
      change-request-number:
        description: 'Change Request number when bringing a pre-approved CR (BYOCR)'
        required: false
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read

jobs:
  # Generate the prod external_account JSON and publish as an artifact
  generate-gcp-credentials-prod:
    runs-on: linux-prod
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get repository metadata
        id: metadata
        uses: Nordstrom-Internal/app02944-repository-metadata@v1.0.0

      - name: Fetch Vault Secrets (PROD)
        id: extract-vault-secrets
        uses: Nordstrom-Internal/APP02944-vault-extension/vault-output@v0
        with:
          secrets: |
            prod/APP09831-promotion-transaction-consumer-service PROD_GCP_SERVICE_ACCOUNT_NAME
          vault-auth-role: ${{ steps.metadata.outputs.app-id }}
          vault-url: https://prod-vault.vault.vip.nordstrom.com:8200

      - name: Generate GCP credentials (prod)
        env:
          GCP_SERVICE_ACCOUNT_NAME_PROD: ${{ steps.extract-vault-secrets.outputs.PROD_GCP_SERVICE_ACCOUNT_NAME }}
          NSK_CLUSTER_PROD: nsk-maple-prod
        run: |
          envsubst < .github/ci-templates/gcp-credentials-template-prod.json > gcp-credentials-prod.json

      - name: Upload GCP credentials artifact
        uses: actions/upload-artifact@v4
        with:
          name: gcp-credentials-prod
          path: gcp-credentials-prod.json
          if-no-files-found: error
          retention-days: 1

  gradle-build:
    name: Gradle Build
    uses: Nordstrom-Internal/APP02944-internal-marketplace/.github/workflows/gradle-build.yml@v7
    secrets: inherit
    with:
      gradle-version: 8

  docker-build:
    needs: [ generate-gcp-credentials-prod, gradle-build ]
    name: Docker Container Build
    uses: Nordstrom-Internal/APP02944-internal-marketplace/.github/workflows/docker.yml@v7
    secrets: inherit
    with:
      app-name: promotion-transaction-consumer-service
      app-id: APP09831
      app-version: ${{ needs.gradle-build.outputs.build-version }}
      docker-build-additional-args: --build-arg GCP_ENV="prod"

  change-request:
    name: Create Change Request
    needs: docker-build
    uses: Nordstrom-Internal/APP02944-internal-marketplace/.github/workflows/change-request.yml@v7
    secrets: inherit
    with:
      change-request-risk: 3
      change-request-assignment-group: TECH_FIN_DATA_INTEGRATION_SUPPORT
      change-request-short-description: ${{ github.event.inputs.change-request-short-description }}
      change-request-number: ${{ github.event.inputs.change-request-number }}
      change-request-full-description: |
        Automated production deployment of promotion transaction consumer service.
        Commit: ${{ github.sha }}
        Workflow Run ID: ${{ github.run_id }}
        Actor: ${{ github.actor }}
        App Version: ${{ needs.docker-build.outputs.app-version }}
      change-request-backout-plan: "To roll back, manually redeploy a previously stable version by triggering this workflow."
      vault-servicenow-creds-paths: |-
        global SNAPI_PROD_USER as servicenow-username
        global SNAPI_PROD_PW as servicenow-password
      github-job-runs-on: linux-prod

  k8s-nskapp-deploy-main-branch:
    needs: [docker-build, change-request]
    name: Deploy to NSK Main Branch
    uses: Nordstrom-Internal/APP02944-internal-marketplace/.github/workflows/nsk-deploy.yml@v7
    secrets: inherit
    with:
      github-job-runs-on: linux-prod
      github-job-environment: prod
      deployment-environment: prod
      app-name: 'promotion-transaction-consumer-service'
      app-id: 'APP09831'
      app-version: ${{ needs.docker-build.outputs.app-version }}
      container-image-name: ${{ needs.docker-build.outputs.image-name }}
      container-image-tag: ${{ needs.docker-build.outputs.image-tag }}
      cloud-provider: 'aws'
      cloud-region: 'us-west-2'
      cloud-identifier: '969378265367'
      deployment-target: 'nskapp'
      nsk-cluster: 'nsk-maple-prod'
      k8s-irsa-role-arn: 'arn:aws:iam::969378265367:role/fin-data-integration-k8s-access-role-prod'
      k8s-workload-type: CronJob
      k8s-container-restart-policy: Never
      k8s-cronjob-schedule: "0 0 * * *" #Every day 4:00 PM PST (12:00 AM UTC next day)
      k8s-requests-memory: '3.0Gi'
      k8s-requests-cpu: '1000m'
      k8s-includes-service: false
      k8s-namespace: 'app09831'
      k8s-min-replicas: 1
      k8s-max-replicas: 1
      k8s-env-vars: |
        [
          { "name": "ENV_NAME", "value": "prod" },
          { "name": "SPRING_PROFILES_ACTIVE", "value": "prod" },
          { "name": "APP_ID", "value": "APP09831" }
        ]
      application-secrets-template: |
        env:NEW_RELIC_LICENSE_KEY = ${vault:prod/APP09831-promotion-transaction-consumer-service NEW_RELIC_LICENSE_KEY}
        env:AURORA_POSTGRESQL_DATABASE_ENDPOINT = fin-data-integration-cluster-prod.cluster-cx664c8q0d16.us-west-2.rds.amazonaws.com
        env:AURORA_DATABASE_NAME = ${vault:prod/APP09831-promotion-transaction-consumer-service PROD_AURORA_DATABASE_NAME}
        env:AURORA_POSTGRESQL_USERNAME = ${vault:prod/APP09831-promotion-transaction-consumer-service PROD_AURORA_SERVICE_USERNAME}
        env:AURORA_POSTGRESQL_PASSWORD = ${vault:prod/APP09831-promotion-transaction-consumer-service PROD_AURORA_SERVICE_PASSWORD}
        env:PROMO_SOURCE_GCP_PROJECT_ID = ${vault:prod/APP09831-promotion-transaction-consumer-service PROD_PROMO_SOURCE_GCP_PROJECT_ID}
        env:GCP_PROJECT_ID = ${vault:prod/APP09831-promotion-transaction-consumer-service PROD_GCP_PROJECT_ID}
        env:PROMO_SOURCE_GCP_DATASET = ${vault:prod/APP09831-promotion-transaction-consumer-service PROD_PROMO_SOURCE_GCP_DATASET}
        env:PROMO_SOURCE_GCP_TABLE_NAME = ${vault:prod/APP09831-promotion-transaction-consumer-service PROD_PROMO_SOURCE_GCP_TABLE_NAME}
        env:START_DATE_OVERRIDE = ${vault:prod/APP09831-promotion-transaction-consumer-service PROD_START_DATE_OVERRIDE}
        env:END_DATE_OVERRIDE = ${vault:prod/APP09831-promotion-transaction-consumer-service PROD_END_DATE_OVERRIDE}
        env:GCP_PROMOTION_DATA_PAGE_SIZE = ${vault:prod/APP09831-promotion-transaction-consumer-service PROD_GCP_PROMOTION_DATA_PAGE_SIZE}