name: Dev Workflow
on:
  push:
    branches-ignore:
      - 'main'
      - 'release/nonprod'
  workflow_dispatch:

concurrency:
  group: dev-workflow-${{ github.ref_name }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read

jobs:
  terraform-check:
    uses: Nordstrom-Internal/APP02944-internal-marketplace/.github/workflows/terraform-check.yml@v7
    secrets: inherit
    with:
      config-directory: terraform

  terraform-plan:
    needs: terraform-check
    uses: Nordstrom-Internal/APP02944-internal-marketplace/.github/workflows/terraform-plan.yml@v7
    secrets: inherit
    permissions: write-all
    with:
      backend-type: s3
      cloud-identifier: "007979315855"
      cloud-provider: aws
      cloud-region: us-west-2
      config-directory: terraform
      github-job-environment: dev
      github-job-runs-on: linux-nonprod
      input-variables: |
        app_id = "app09831"
        app_name = "Infrastructure"
        environment = "${{ github.ref_name }}"
        env_app_name = "Infrastructure-${{ github.ref_name }}"
        aurora_database_name   = "${vault:nonprod/APP09831-infrastructure NONPROD_AURORA_DATABASE_NAME}"
        aurora_master_username = "${vault:nonprod/APP09831-infrastructure NONPROD_AURORA_MASTER_USERNAME}"
        aurora_master_password = "${vault:nonprod/APP09831-infrastructure NONPROD_AURORA_MASTER_PASSWORD}"
        oauth_client_id = "${vault:nonprod/APP09831-infrastructure CONFLUENT_CLOUD_OAUTH_CLIENT_ID}"
        oauth_client_secret = "${vault:nonprod/APP09831-infrastructure CONFLUENT_CLOUD_OAUTH_CLIENT_SECRET}"

  terraform-apply:
    needs: terraform-plan
    uses: Nordstrom-Internal/APP02944-internal-marketplace/.github/workflows/terraform-apply.yml@v7
    secrets: inherit
    with:
      backend-type: s3
      cloud-identifier: "007979315855"
      cloud-provider: aws
      cloud-region: us-west-2
      config-directory: terraform
      github-job-environment: dev
      github-job-runs-on: linux-nonprod
      input-variables: |
        app_id = "app09831"
        app_name = "Infrastructure"
        environment = "${{ github.ref_name }}"
        env_app_name = "Infrastructure-${{ github.ref_name }}"
        aurora_database_name   = "${vault:nonprod/APP09831-infrastructure NONPROD_AURORA_DATABASE_NAME}"
        aurora_master_username = "${vault:nonprod/APP09831-infrastructure NONPROD_AURORA_MASTER_USERNAME}"
        aurora_master_password = "${vault:nonprod/APP09831-infrastructure NONPROD_AURORA_MASTER_PASSWORD}"
        oauth_client_id = "${vault:nonprod/APP09831-infrastructure CONFLUENT_CLOUD_OAUTH_CLIENT_ID}"
        oauth_client_secret = "${vault:nonprod/APP09831-infrastructure CONFLUENT_CLOUD_OAUTH_CLIENT_SECRET}"