applicationId: ${APP_ID}

metrics:
  hostname: gostatsd.kube-system.svc
  port: 8128
  prefix: fintech.di.retailTransactionProcessor
  constantTags:
    - "environment:dev"
    - "appid:APP09831"
    - "service_name:transaction-consumer-service"
    - "tier:2"

management:
  endpoints:
    health:
      probes:
        enabled: true
    web:
      exposure:
        include: health, beans, loggers
      base-path: /
  health:
    path: /health
    probes:
      enabled: true
    livenessState:
      enabled: true
    readinessState:
      enabled: true

spring:
  application:
    name: transaction-consumer-service
  kafka:
    bootstrap-servers:
      - ${CONFLUENT_CLOUD_BOOTSTRAP_SERVER}
    properties:
      security.protocol: SASL_SSL
      sasl:
        mechanism: OAUTHBEARER
        oauthbearer.token.endpoint.url: ${OAUTH_ENDPOINT_URL}
        login.callback.handler.class: org.apache.kafka.common.security.oauthbearer.secured.OAuthBearerLoginCallbackHandler
        jaas.config: org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required clientId="${CONFLUENT_CLOUD_OAUTH_CLIENT_ID}" clientSecret="${CONFLUENT_CLOUD_OAUTH_CLIENT_SECRET}" scope="user" extension_logicalCluster="${CONFLUENT_CLOUD_CLUSTER_ID}" extension_identityPoolId="${CONFLUENT_CLOUD_IDENTITY_POOL_ID}";
      schema.registry.url: ${SCHEMA_REGISTRY_URL}
      auto.register.schemas: false
      bearer:
        auth:
          credentials.source: SASL_OAUTHBEARER_INHERIT
          logical.cluster: not-used
          identity.pool.id: not-used
      specific.avro.reader: true
      spring.deserializer.value.delegate.class: io.confluent.kafka.serializers.KafkaAvroDeserializer
    consumer:
      enable.auto.commit: true
      auto-offset-reset: earliest
      group-id: ${SDM_CONSUMER_GROUP_ID}
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        security.protocol: SASL_SSL
        sasl:
          mechanism: OAUTHBEARER
          oauthbearer.token.endpoint.url: ${OAUTH_ENDPOINT_URL}
          login.callback.handler.class: org.apache.kafka.common.security.oauthbearer.secured.OAuthBearerLoginCallbackHandler
          jaas.config: org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required clientId="${CONFLUENT_CLOUD_OAUTH_CLIENT_ID}" clientSecret="${CONFLUENT_CLOUD_OAUTH_CLIENT_SECRET}" scope="user" extension_logicalCluster="${CONFLUENT_CLOUD_CLUSTER_ID}" extension_identityPoolId="${CONFLUENT_CLOUD_IDENTITY_POOL_ID}";
        schema.registry.url: ${SCHEMA_REGISTRY_URL}
        auto.register.schemas: false
        bearer:
          auth:
            credentials.source: SASL_OAUTHBEARER_INHERIT
            logical.cluster: not-used
            identity.pool.id: not-used
        specific.avro.reader: true
        spring.deserializer.value.delegate.class: io.confluent.kafka.serializers.KafkaAvroDeserializer
      max-poll-records: 10
    retry:
      topic:
        fixed-delay: 300_000
    listener:
      concurrency: 3
      type: batch
  jpa:
    open-in-view: false
    database: POSTGRESQL
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    generate-ddl: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          batch_size: 2000
        order_inserts: true
  datasource:
    url: jdbc:postgresql://${AURORA_POSTGRESQL_DATABASE_ENDPOINT}:5432/${AURORA_DATABASE_NAME}
    username: ${AURORA_POSTGRESQL_USERNAME}
    password: ${AURORA_POSTGRESQL_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      maxLifetime: 2000000
      connectionTimeout: 30000
  task:
    execution:
      pool:
        core-size: 3
        max-size: 5
        queue-capacity: 20
        keep-alive: 10s

app:
  fortknox:
    redeem:  ${IS_COMMISSION_REDEMPTION_ENABLED:true}
  kafka:
    consumer:
      topic:
        marketplace: ${SDM_RETAIL_TRANSACTION_TOPIC_NAME}
        restaurant: ${SDM_RESTAURANT_TRANSACTION_TOPIC_NAME}
    retry:
      topic.suffix: -data-integration-retry-0
    dlt:
      topic.suffix: -data-integration-dlt

fortknox:
  tls:
      enabled: ${IS_COMMISSION_REDEMPTION_ENABLED:true}
  redemption:
    url: ${FORTKNOX_REDEMPTION_API_URL}
    keyStore: ${FORTKNOX_REDEMPTION_KEYSTORE}
    keyStorePassword: ${FORTKNOX_REDEMPTION_KEYSTORE_PASSWORD}
    maxAttempts: 3
    minBackoffInSeconds: 5
    readiness:
      check:
        token: "UmC8L1nxRRqLXv3TsNw0ag"
